body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: sans-serif;
  display: flex;
}

.main {
  display: flex;
  width: 100%;
}
.symbol img {
  margin-top: 10px;
  width: 35px;
  height: 35px;
}

.navbar {
  width: 70px;
  height: 100vh;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-right: 1px solid #333;
  position: fixed;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 60px;
}
html {
  scroll-behavior: smooth;
}
.icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(0.5);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  background-color: rgba(34, 34, 34, 0.1);
  cursor: pointer;
  filter: brightness(0) invert(1);
  transform: scale(1.1);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-grow: 1;
}
.hero .container {
  padding: 10px 60px;
  margin: 50px;
  border: 1px solid #333;
  border-radius: 20px;
}
.hero .container div {
  padding: 40px;
}
.active {
  background-color: rgba(34, 34, 34, 0.1);
  filter: brightness(0) invert(1);
}

.navbar a[data-title] {
  position: relative;
  text-decoration: none;
}

.navbar a[data-title]::after {
  content: attr(data-title);
  position: absolute;
  top: 10%;
  left: 120%;

  background-color: #333;
  color: white;
  padding: 8px;
  border-radius: 8px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3 ease;
}

.navbar a[data-title]:hover::after {
  opacity: 1;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.navbar .profile {
  margin-top: auto;
  padding-bottom: 36px;
}
.navbar .profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
